/*grey
main #ABBAC3
lighter #d2dadf*/
/* blue
main #438EB9
lighter #BCC9D5
*/

/* #438EB9 ABBAC3*/
:root {
    /* --main-color: #438EB9; */
    --main-color: #295670;
    /* --main-color: #3a3f51; */
    --main-lighter-color: #3e81a8;
    --main-darker-color: #2f6483;
    --main-font-color: #295670;
    --font-color: #fff;
    --light-background: #f9f9f9;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

  .navbar {
    z-index: 1900!important;
    background:var(--main-color) !important;
}
.page-header{
    padding: 0px!important;
    margin: 0px 0px 10px 0px!important;
}

#main-container{
    padding-top:45px; 
    
}

.btn-scroll-up.display {
    opacity: .7;
    filter: alpha(opacity=70);
    bottom: 20px;
    visibility: visible;
    z-index:1902!important;
}

.footer .footer-inner .footer-content {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5px !important; 
    line-height: 8px !important; 
    border-top: 3px double #E5E5E5 ;
    color: var(--font-color) !important;
    z-index: 1901!important;
    background-color:  var(--main-color) !important;
}

.ace-nav>li.light-blue>a {
    background-color:var(--main-color) !important;
}

/* .widget-body {
    background-color: #e2e2e2!important;
} */
.btn{
    border-width: 1px !important;
    
}
/* .btn-default.active, .btn-default.active:focus, .btn-default.active:hover, 
.btn-default.focus.active, .btn.active, .btn.active:focus, .btn.active:hover, 
.btn.focus.active, .open>.btn-default.dropdown-toggle.active, .open>.btn.dropdown-toggle.active {
    background-color: #367396 !important;
    border-color: #367396 !important;
    color: #FFF!important;
    
} */
.btn-default:hover{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #FFF!important; 
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
    /* min-width: 150px!important;; */
}

.btn-esst{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #FFF!important; 
}

.btn-esst:hover {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
    min-width: 120px!important;;
}

.btn-nest {
    background-color: var(--main-color)!important;
    border-color: var(--main-color)!important;
    /*border: 0px solid #367396 !important;*/
    color: #FFF!important;
}

.btn-nest:hover {
    background-color: #367396 !important;
    /*border: 0px solid #367396 !important;*/
    border-color: var(--main-color)!important;
    color: #FFF!important;
}

.btn-nest:active {
    background-color: #367396 !important;
    /*border: 0px solid #367396 !important;*/
    border-color: #367396 !important;
    color: #FFF!important;
}
.nest{
    color: var(--main-color) !important;;
}

.esst{
    color: var(--main-color) !important;;
}
/*sidebar ace width; font color*/
.sidebar {
    width:250px;
    z-index: 1900!important;
}
.sidebar.menu-min .nav-list>li>a>.menu-text {
    width:300px !important;
}
.sidebar.menu-min .nav-list>li>.submenu{
    width:300px !important;
}
.sidebar + .main-content {
    margin-left : 255px;
}
.fa-alph{
    font-size:16px!important;
    font-weight: bold!important;
    font-style: normal!important;
    /* color: var(--main-color) !important; */
}
.fa-alph-small{
    font-size:10px!important;
    font-weight: bold!important;
    font-style: normal!important;
}
.form-control:focus {
    border: 0.5px solid #D5D5D5!important;
    border-bottom: 2px solid var(--main-color) !important;
    transition: border-bottom 1s;
    left: 0;
    /* box-shadow: 6px 7px 2px #cccccc!important; */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); */
}

.jqx-input-content{
    color: #858585;
    border-radius: 0px !important;
}

.label-title {
    border-bottom: 2px solid var(--main-color) !important;
    /*background-color: var(--light-background) !important;*/
    /*border-color:  var(--light-background) !important;*/
    color:var(--main-color) !important;
    font-weight: bold;
    text-align: left;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
}

/* pulse and bounce fa animations */
.fa-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}
/* //notification messages */
/* .jqx-notification-container{
   z-index: 999;
} */
/******************vazno za modal i drop down i filter grida u modalu*/
.modal {
    z-index: 1901!important;
}
.modal-backdrop {
    z-index: 1900!important;
  }
.jqx-menu-wrapper{
    z-index: 1902!important;
}

  /* .modal {
    z-index: 9999!important;
}
/*column header jqx grid */
/* .jqx-grid-column-header{
    z-index:0!important;
  } */ 

/*column header jqx grid */
/* .jqx-grid-column-header{
    z-index:0!important;
  } */

   /* .jqx-widget-content{
     z-index: 9999!important; 
  }   */
  #ace-settings-container{
    z-index: 1900!important; 
  }  
  /* .ace-settings-box.open{
      max-width: 550px; */
      /* min-width: 220px;
       
  } */
  .ace-settings-box{
      border-color: #d9534f!important;
  }
  /* .ace-settings-item{
    z-index: 9999999!important;
  } */
  /* .jqx-widget-header-bootstrap{
    z-index:999!important;
  }
  .jqx-grid-header-bootstrap{
    z-index:999!important;
  } */
/*loader*/
.loader {
    border: 16px solid #ccc; /* Light grey */
    border-top: 16px solid var(--main-color) !important; /* Blue */
    border-radius: 50% !important;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:fixed;
    top:30%;
    left:45%;
    z-index: 999999!important;
}

#loadermain h4 {
    width: 220px;
    height: 120px;
    position:fixed;
    top:45%;
    left:42.5%;
    text-align: center;
    z-index: 999999!important;
}

#loadermain{
    background-color:#fff;
    width:100%;
    height:100%;
    opacity:0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999!important;
}

/*loaderLink*/
.loaderLink {
    border: 16px solid #ccc; /* Light grey */
    border-top: 16px solid var(--main-color) !important;/* Blue */
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position:absolute;
    top:20%;
    left:45%;
    z-index: 5001;
}

.loadermainLink{
    background-color:#fff;
    width:100%;
    height:100%;
    opacity:0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5000;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*pael manage caeses*/
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.panel-heading{
    background-color: #fff !important;
}
.panel-heading:hover{ background-color: var(--main-color)!important;
    transition: background-color 0.6s;
    left: 0;
    box-shadow: 6px 7px 2px #cccccc!important;
}
.panel-heading:hover a{ color: #fff!important;}
.panel-heading:hover i{ color: #fff!important;}
.panel-heading:hover span{  color: #fff!important;}
.panel-heading:hover span .glyphicon-trash{ color: #a94442!important } 

/* odmaknuti iconu od texta*/
.glyphicon { margin-right:10px !important;}
.fa {margin-right:5px !important;}

/*doadati ovu klasu na icon glaficon da dobbije pointer*/
.icon-btn{
    cursor: pointer;
    font-size:1.3em;
}

/*validacija stil*/
.jqx-validator-danger-label:before {
    content: "\f071";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: larger;
    margin-right: 3px;
    color: #d9534f;
    /* animation: pulse 2s infinite linear; */
  }
  
  .jqx-validator-danger-label{
      border: 0px solid #e3e3e3;
      color: #777;
      height: 18px;
      font: 600 11px arial!important;  
      min-width:100%; 
      padding-left:5px;
      top:0px;
      bottom:0px;
  }

.jqx-validator-warning-label:before {
    /* content: "\f127"; */
    content: "\f071";
    font-family: FontAwesome;
    font-size: larger;
    font-weight: bold;
    margin-right: 3px;
    color: #f0ad4e;
    animation: pulse 2s infinite linear;
  }
  
  .jqx-validator-warning-label{
      /* border: 1px solid #e3e3e3; */
      color: #777;
      height: 18px;
      font: 600 11px arial!important;  
      min-width:100%;
      padding-left:5px;
      top:0px;
      bottom:0px;
  }

.jqx-validator-error-label:before {
  content: "\f127";
  font-family: FontAwesome;
  font-weight: bold;
  font-size: larger;
  margin-right: 3px;
  color: #d9534f;
  /* animation: pulse 2s infinite linear; */
}

.jqx-validator-error-label{
    border: 0px solid #e3e3e3;
    color: #777;
    height: 18px;
    font: 600 11px arial!important;  
    min-width:100%; 
    padding-left:5px;
    top:0px;
    bottom:0px;
}
.jqx-validator-success-label{
    border: 0px solid #e3e3e3;
    color: #777;
    height: 18px;
    font: 600 11px arial!important;  
    min-width:100%; 
    padding-left:5px;
    top:0px;
    bottom:0px;
}
.jqx-validator-success-label:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: larger;
    margin-right: 3px;
    color: #5cb85c;
  }
  
  .jqx-validator-info-label{
    border: 0px solid #e3e3e3;
    color: #777;
    height: 18px;
    font: 600 11px arial!important;  
    min-width:100%; 
    padding-left:5px;
    top:0px;
    bottom:0px;
}

.jqx-validator-info-label:before {
    content: "\f071";
    font-family: FontAwesome;
    font-weight: bold;
    font-size: larger;
    margin-right: 3px;
    color: #5bc0de;
    animation: pulse 2s infinite linear; 
  }

/*validator big*/
  .jqx-validator-warning-label-big:before {
    /* content: "\f127"; */
    content: "\f071";
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: bold;
    margin-right: 7px;
    color: #f0ad4e;
    animation: pulse 2s infinite linear;
  }
  
  .jqx-validator-warning-label-big{
      /* border: 1px solid #e3e3e3; */
      color: #777;
      height: 38px;
      font: 500 16px arial!important;  
      min-width:100%;
      padding-left:15px;
      top:0px;
      bottom:15px;
  }

  .jqx-validator-danger-label-big:before {
    /* content: "\f127"; */
    content: "\f071";
    font-family: FontAwesome;
    font-size: 25px;
    font-weight: bold;
    margin-right: 7px;
    color: #d9534f;
    animation: pulse 2s infinite linear;
  }
  
  .jqx-validator-danger-label-big{
      /* border: 1px solid #e3e3e3; */
      color: #777;
      height: 38px;
      font: 500 16px arial!important;  
      min-width:100%;
      padding-left:15px;
      top:0px;
      bottom:15px;
  }
  
.negative{
    background-color: #d9534f!important; 
    font-weight: bold;
    color: #fff!important;
}
.bold{
    font-weight: bold;
}
/*callout*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    color: #858585;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: var(--main-color) !important;;
}
.bs-callout-primary h4 {
    color: var(--main-color) !important;;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.info{
    color: #5bc0de;
}
.danger{
    color: #d9534f!important;
}
.success{
    color: #5cb85c!important;
}
.warning{
    color: #f0ad4e;
}
.primary{
    color: #5bc0de;
}
.default{
    color: #777;
}

/*sankey   */
.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}
/*sortable za dispatch order*/
#sortable {
    margin: 2px;
    padding: 4px;
    float: left;
    width: 300px;
    /*border: var(--main-color) !important; solid 1px;*/
    
}
#sortable div {
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid transparent;
}
#sortable div:hover {
    border: 1px solid var(--main-color) !important;;
    background-color: #8fbcd6;
    color: #fff;
}

/*da se funky check box raspredi u vise redova*/
.years{
    width:85px;
    float:left;
    margin-right: 0.3em;
}

/*modal fade*/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 10px 10px 10px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
        
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/*modal fade top*/
.modal.top .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%!important;
     height: 100%; 
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.top .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.top .modal-body {
    padding: 15px 15px 15px;
    margin-bottom: 10px!important;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}
.modal-header {
    border-bottom-color: #EEEEEE;
    /*background-color: #FAFAFA;*/
    background-color: var(--main-color) !important;;
    border-color: #ABBAC3;
    color: #FFF!important;
}

.modal.large .modal-dialog {
    width: 65%!important;
}
.modal-footer {
    padding-top: 12px;
    padding-bottom: 14px;
    border-top-color: #fff!important;
    box-shadow: none;
     background-color: #fff!important;
}

/*bootsratb jqx grid ***********/
.jqx-widget-header-bootstrap {
    /*background: repeat-x #f7f7f7;*/
    background-image: -webkit-linear-gradient(top,  var(--light-background) 0,  var(--light-background) 100%);
    background-image: -o-linear-gradient(top,  var(--light-background) 0,  var(--light-background) 100%);
    background-image: linear-gradient(to bottom,  var(--light-background) 0,  var(--light-background) 100%);
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0); */
    font-weight: bold;
    color:var(--main-color) !important;
    /* z-index:99!important;  */
}
.jqx-grid-cell-bootstrap{
    color: #595959;
}
.jqx-grid-cell-pinned-bootstrap{
    /* background-color: #fff!important;  */
    background: repeat-x var(--light-background); 
    background-image: -webkit-linear-gradient(top,  var(--light-background) 0,  var(--light-background) 100%);
    background-image: -o-linear-gradient(top,  var(--light-background) 0,  var(--light-background) 100%);
    background-image: linear-gradient(to bottom,  var(--light-background) 0,  var(--light-background)  100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0); 
    font-weight: bold;
    color: var(--main-color) !important;
}

.disableForm {
    pointer-events: none;
    opacity: 0.4;
}

.unserved{
    background-color: #d9534f!important; 
    font-weight: bold;
    color: #fff!important;
}

.curtailed{
    background-color: #5cb85c!important; 
    font-weight: bold;
    color: #fff!important;
}

/*ace css widgets TREBA KOMENTARISATI AKO VRATIMO NA STARU BOJU*/
.widget-header {
    color: var(--main-color) !important;
    /* background:   var(--light-background)!important; */
}
 /* .widget-header-small {
    background: transparent!important;
}  */
.no-skin .sidebar.menu-min .nav-list>li.active>a>.menu-text {
    border-left-color: var(--main-color) !important;
}
.no-skin .nav-list>li.active>a {
    color: var(--main-color) !important;
}
.no-skin .nav-list li.active>a:after {
    border-right-color: var(--main-color) !important;
}
.panel-heading a {
    color: var(--main-color) !important;
}
.no-skin .nav-list>li.active:after {
    border: 1px solid var(--main-color) !important;
}

.no-skin .nav-list>li.open>a {
    background-color: #FAFAFA;
    color: var(--main-color) !important;
}
.no-skin .nav-list>li .submenu>li.active>a {
    color: var(--main-color) !important;
}

input[type=checkbox].ace.ace-switch.ace-switch-2:checked+.lbl::before {
    background-color:  var(--main-color) !important;
    border-color:  var(--main-color) !important;
}

.no-skin .navbar .navbar-toggle {
    background-color:var(--main-color) !important;
    border: whitesmoke!important;
}
/******************************************************************/
/********************nesetd grid z index */
/* #gridNested{
    z-index:99!important;
} */

/* .hover-shown{
    z-index: 1900!important;
} */

.nopadding {
    padding: 0 !important;
    /* margin: 0 !important; */
 }
 .nomargin{
    margin: 0 !important;
 }