/*funky radio check buttons*/
.funkyradio div {
  clear: both;
 
}

.funkyradio-cst {
  margin-bottom:-3px !important;

}

.funkyradio-cst label{
  height:22px !important;
  font-size: 11px !important;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  text-align: left;
  height:28px;
  overflow: hidden !important;
  font-size: 13px;
  margin:0px !important;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2em;
  text-indent: 3.25em;
  margin-top: 0em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2em;
  background: #f2f2f2;
  /*border-radius: 3px 0 0 3px;*/
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;

}

/*check box necekiran*/
.funkyradio input[type="radio"]:empty:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:empty:not(:checked) ~ label:before {
  content: "\f00d";
  font-family: FontAwesome; /*x simbol*/
  text-indent: .5em;
  color: #777;
  /*color: #5bc0de;*/
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\f00c';
  font-family: FontAwesome; 
  text-indent: .5em;
  /*color: #5bc0de;*/
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
 /* content: '\2714';*/
  content: '\f00c';
  font-family: FontAwesome; 
  text-indent: .5em;
  /*color: #333;
  background-color: #ccc;*/
    color: #fff !important;
  background-color: var(--main-color) !important;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  /*color: #333;
  background-color: #ccc;*/
  color: #fff !important;
  background-color: var(--main-color) !important;
   
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}